@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sniglet:wght@400;800&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

@font-face {
  font-family: 'Winky Sans';
  src: url('/fonts/Winky_Sans/static/WinkySans-Regular.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
}
/**
* TODO: Revisar las fuentes de texto y elegir una adecuada.
* ! Dar prioridad a la funcionalidad del juego sobre la estética, 
* ! una vez creada la funcionalidad del juego se hará la parte visual.
*/
@theme {
  /* 2. Añadimos ambas para que puedas elegir */
  --font-dynapuff: "DynaPuff", system-ui;
  --font-winky: "Winky Sans", sans-serif;
  --font-sniglet: "Sniglet", sans-serif;
  --font-fredoka: "Fredoka", system-ui;
  --font-nunito: "Nunito", system-ui;
}
